@page
@using DataAccess.Entities;
@using Presentation.Commons.Constants
@using Presentation.Pages.Shared.Components.TopProducts
@model Presentation.Pages.IndexModel
@{

}
<section name="hero" class="container-fluid p-0 py-5" style="background: url(/images/home_bg.jpg) no-repeat; background-size: cover;">
    <div class="px-4 my-5 py-5 text-center">
        <h5 class="text-light fw-bold"><span class="shadow-sm">Information about us</span></h5>
        <h1 class="display-5 d-flex justify-content-center fw-bold">
            <span class="text-light">Eco</span>
            <span class="text-success">Morǝ</span>
        </h1>
        <div class="col-lg-6 mx-auto">
            <p class="lead mb-4 text-light">
                Welcome to EcoMorə, where we take your cravings to the next level!
                Our nutritional nuts are 100% Organic, ensuring the highest quality to customers.
            </p>
            <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                <button type="button" class="btn btn-success btn-lg rounded-pill px-4">Order now</button>
                <a href="/ShoppingCart" class="btn btn-success btn-lg rounded-pill px-4">Shopping Cart</a>
                <button type="button" class="btn btn-light btn-lg rounded-pill px-4">Explore More</button>
            </div>
        </div>
    </div>
</section>

<section class="container">
    <div class="row my-5">
        <h1 class="fw-bold text-secondary text-center">
            Best Seller
        </h1>
        <h4 class="mt-3 text-center opacity-50">
            Most favourite products that selected from the customers.
        </h4>
    </div>
    @await Component.InvokeAsync(nameof(TopProducts))
    <section class="row mx-0 rounded bg-opacity-75 my-4" style="background: rgb(255, 184, 82);">
        <div class="col-sm-12 col-md-6 p-0">
            <div class="p-2">
                <img class="rounded w-100" style="height: 20rem;"
                    src="https://media.post.rvohealth.io/wp-content/uploads/2020/09/AN141-Nuts-In-Wooden-Bowl-732x549-thumb.jpg" />
            </div>
        </div>
        <div class="col-sm-12 col-md-6 ps-md-4 d-flex">
            <aside class="row m-0 align-self-center">
                <h1 class="mb-4 col-sm-12 p-0">Explore more about our products.</h1>
                <a href="/Product" class="col-sm-12 col-md-3 mb-2 btn btn-outline-light fw-bold border-4">
                    Explore
                </a>
            </aside>
        </div>
    </section>
</section>

<section class="container-fluid bg-dark p-0 mt-1 py-5">
    <p class="display-4 text-light py-3 text-center fw-bold" style="font-style: italic">Our Permission</p>
    <section class="container">
        <section class="d-flex flex-column">
            <div class="mx-auto d-flex">
                <div><img src="~/images/placeholder.jpg" style="width: 160px"/></div>
                <div class="ms-3 text-light d-flex flex-column">
                    <p class="mt-auto display-6">Vision</p>
                    <p class="py-4 border-1 border-bottom border-light mb-0 h5 w-75">
                        EcoMorə always strives to bring the best benefits to customers,
                        which is the goal we want to aim for.
                    </p>
                </div>
            </div>
            <div class="mx-auto d-flex">
                <div class="me-3 text-light d-flex flex-column">
                    <p class="mt-auto text-end display-6">Mission</p>
                    <p class="text-end py-4 border-1 border-bottom border-light mb-0 ms-auto h5 w-75">
                        EcoMorə always strives to bring the best benefits to customers,
                        which is the goal we want to aim for.
                    </p>
                </div>
                <div><img src="~/images/placeholder.jpg" style="width: 160px" /></div>
            </div>
            <div class="mx-auto d-flex">
                <div><img src="~/images/placeholder.jpg" style="width: 160px" /></div>
                <div class="ms-3 text-light d-flex flex-column">
                    <p class="mt-auto display-6">Values</p>
                    <p class="py-4 border-1 border-bottom border-light mb-0 h5 w-75">
                        EcoMorə always strives to bring the best benefits to customers,
                        which is the goal we want to aim for.
                    </p>
                </div>
            </div>
        </section>
    </section>
</section>
