:root {
    --bs-dark: #000811;
    --bs-dark-rgb: 0, 8, 17;
    --bs-success: #99b44a;
    --bs-success-rgb: 153, 180, 74;
}

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.hide-scrollbar::-webkit-scrollbar {
    display: none;
}